.dropdownArrow {
  position: absolute;
  right: 16px;
  top: 16px;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  transition-property: transform;
}
.open .dropdownArrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.selectDropdown {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  border: 1px solid #e7eaf3;
  display: none;
}
.selectDropdown.open {
  display: block;
}
.selectDropdown .selectDropdownItem {
  cursor: pointer;
  padding: 9px 15px;
  margin: 0;
  background: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.selectDropdown .selectDropdownItem:hover {
  background: #9dbafe;
}
.selectDropdown .selectDropdownItem.selected {
  background: #1253fa;
  color: white;
}
.selectDropdown .selectDropdownItem img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
}
.selectDropdown .selectDropdownItem span {
  margin-left: 8px;
  vertical-align: middle;
}
