.dropdownArrow {
  position: absolute;
  right: 16px;
  top: 16px;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  transition-property: transform;
}
.open .dropdownArrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.selectDropdownItem {
  cursor: pointer;
  padding: 9px 15px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
